<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <%- include("partials/header") -%>
    <h1>Home</h1>
    <p><%= home %></p>
    <% pos.forEach((e)=>{ %>
      <h1><%=  e.title %></h1>
      <p><%=  e.content.substring(0,100) %>...</p>
      <a href='/posts/<%=  e.title %>' >Read More</a>
    <% })%>
    <!-- <% for( var i = 0 ; i<pos.length ;i++){ %>
      <p><%=  pos[i].title %></p>
    <% } %> -->

    <%- include("partials/footer") -%>

  </body>
</html>
